/* PC、スマホ共通スタイル */
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,
    sans-serif;
}

p {
  font-size: 15px;
}

#main-visual>img {
  width: 100%;
}

/*================
PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {
  /* 横幅設定 */
  body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
  }

  /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
  }

  /* ナビゲーションのレイアウト */
  #nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
  }

  /* ナビゲーションのリンクの装飾設定 */
  #nav-pc>a {
    text-decoration: none;
    margin-left: 20px;
  }

  #nav-pc>a:link {
    color: #0d0d0d;
  }

  #nav-pc>a:visited {
    color: #0d0d0d;
  }

  #nav-pc>a:hover {
    color: #0d0d0d;
    text-decoration: underline;
  }

  #nav-pc>a:active {
    color: #0d0d0d;
  }

  #menu-sp {
    display: none;
  }

  #nav-sp {
    display: none;
  }

}

/*================
スマホ用のスタイル 
=================*/
@media screen and (max-width: 767px) {
  #nav-pc {
    display: none;
  }

  body {
    min-width: 375px;
    margin: 0;
  }

  /* ハンバーガーメニュー */
  #menu-sp {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 90;
  }

  #nav-sp {
    display: none;
    background-color: #ce933e;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding-top: 60px; /* ロゴの下にメニューが表示されるよう余白を設定 */
  }

  #nav-sp ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  #nav-sp li {
    margin: 20px 0;
  }

  #nav-sp a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  }

  #nav-sp a:link{
    color: #ffffff;
  }

  #nav-sp a:visited{
    color: #ffffff;
  }

  #nav-sp a:hover{
    text-decoration: underline;
  }

  #nav-sp a:active{
    color: #ffffff;
  }
  
  /* ロゴ配置 */
  #logo-sp {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 300;
  }

  /* メニュー項目のスタイル */
  #nav-sp a.menu {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 18px;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    text-decoration: none;
  }

  /* 閉じるボタン */
  #close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
